body{
	margin:0;
	padding:0;
	background:#fff;
	font-family: 'Open Sans', sans-serif;
    background-color: #fafafa
 }


.nameC{   
    position: absolute; 
    font-size: 12px;
    left:8.9%;
    bottom:1.8%;
}

.nameA{   
    position: absolute; 
    font-size: 12px;
    left:6.1%;
    bottom: 38%;
}

.nameB{   
    position: absolute; 
    font-size: 12px;
    right:7.5%;
    bottom:1.8%;
}

.nameD{
    position: absolute; 
    font-size: 12px;
    right:48%;
    bottom:1.8%;
}


.YOUTUBE{
    position: relative;
    margin-left: 9.5%;
    margin-top: 1.5%
}

.axis {
    font-size: : 10px;
    stroke: #000;
    shape-rendering: crispEdges;
    stroke-width: 1px;
}


.axis path, line {
      fill: black;
      stroke: #000;
      stroke-width: 1px;
    }

.chart1 text{
    font-size: 11px;
}

.chart2 text{
    font-size: 11px;
}

.legend {
    padding: 5px;
    font: 10px sans-serif;
    background: yellow;
    box-shadow: 2px 2px 1px #888;
}
.legendMap {
    background: linear-gradient(to right, #FCA107, #7F3121);
    box-shadow: 2px 2px 1px #888;
}

h1,h2,h3,h4,h5,h6{
	margin:0;	
	font-family: 'Montserrat', sans-serif;
}	
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
p,ul,ol{
	font-size:14px;
}
input[type="submit"],a,.nbs-flexisel-v-left,.nbs-flexisel-nav-right{
	transition:.5s ease-in;
	-webkit-transition:.5s ease-in;
	-moz-transition:.5s ease-in;
	-o-transition:.5s ease-in;
	-ms-transition:.5s ease-in;
}
a:hover{
	text-decoration:none;
}
a:focus{
	outline:none;
	text-decoration:none;
}
.chartbar{

    cursor: pointer;
}


.button2{width: 120px}
.button1{width: 120px}
/*-- banner --*/
/*--header -top--*/
/*-- nav --*/
.w3_navigation {
	height: 56px;
    background: #293c55;
    padding: 6px 0;
    border-bottom: 1px solid #0e151f;
}
.navbar-default {
    background: none;
    border: none;
}

.navbar-right {
    margin-right: -140px;

}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color:#fff;
    background:none;
}
.navbar-default .navbar-nav > li > a {
    font-weight: 500;
    letter-spacing: 1px;
}
.navbar-nav > li > a {
    padding:0 1.5em;
    text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a:hover{
    color:#ff5a77;
}
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
	outline:none;
}
nav.navbar.navbar-default {
    background: none;
    margin-top:5px; 
    margin-left: -100px;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color:#fff;
    background: none;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav  > .active.open > a:focus {
	background: #0a9dbd;
	color: #fff;
}
.navbar-default .navbar-brand,.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #fff;
}
.navbar-brand {
    margin-top: -6px;
    font-size:26px;
    text-transform: uppercase;
    letter-spacing:1px;
    line-height:12px;
    position: relative;
    font-weight: 700;
}
.navbar-brand span {
    color: #82b9e2;
}
p.logo_w3l_agile_caption {
	float: right;
	margin-top: 0px;
	margin-left: 16px;
    text-transform:uppercase;
    letter-spacing:6px;
    font-size: 8px;
    color: #8c908c;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-align: left;
}
.agile_short_dropdown {
    border-radius: 0;
    background: #ffffff;
    text-align: center;
	padding:0;
	border: none;
}
.agile_short_dropdown li a{
	text-transform:uppercase;
	color:#212121;
	font-size:13px;
	font-weight:600;
	padding: .8em 0;
}
.agile_short_dropdown > li > a:hover{
    color: #fff;
    text-decoration: none;
   background-color: #ff5a77;
}
/*-- nav-effect --*/
.menu__list {
	position: relative;
	margin:0.5em 0 0;
}

.menu__item {
	display: block;
	margin: 1em 0;
}

.menu__link {
	font-size: 1.05em;
	font-weight: bold;
	display: block;
	padding: 1em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* Iris */
.menu--iris .menu__item {
	margin:0 0.5em;
}

.menu--iris .menu__link {
	position: relative;
	text-align: center;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
	text-shadow: 0px 1px 3px #033815;
}

.menu--iris .menu__link:hover,
.menu--iris .menu__link:focus {
	color: #929292;
}

.menu--iris .menu__item--current .menu__link,.menu__link:hover {
	color:#ff5a77;
}

.menu--iris .menu__link::before,
.menu--iris .menu__link::after {
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	opacity: 0;
	border: 2px solid #ff5a77;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.17, 0.67, 0.05, 1.29);
	transition-timing-function: cubic-bezier(0.17, 0.67, 0.05, 1.29);
}

.menu--iris .menu__link::before {
	top: 0;
	left: 0;
	border-width: 2px 0 0 2px;
	-webkit-transform: translate3d(10px, 10px, 0);
	transform: translate3d(10px, 10px, 0);
}

.menu--iris .menu__link::after {
	right: 0;
	bottom: 0;
	border-width: 0 2px 2px 0;
	-webkit-transform: translate3d(-10px, -10px, 0);
	transform: translate3d(-10px, -10px, 0);
}

.menu--iris .menu__item--current .menu__link::before,
.menu--iris .menu__item--current .menu__link::after,.menu__link:hover::before,.menu__link:hover::after {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.dropdown-menu {
    position: absolute;
    top: 226%;
    left: 0;
    z-index: 1000;
    display: none;
}
/*-- //nav-effect --*/
/*-- banner-text --*/ 
.header-w3layouts{
    position: absolute;
    top: 0;
    z-index: 99;
    text-align: center;
    left: 0;
    width: 100%;
}
.agileits-banner-info h3 {
    color: #fff;
    font-size: 6em;
    margin: 0.1em 0 0.2em 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
	text-shadow: 1px 1px 2px rgb(12, 12, 12);
	-webkit-text-shadow: 1px 1px 2px rgb(12, 12, 12);
	-o-text-shadow: 1px 1px 2px rgb(12, 12, 12);
	-moz-text-shadow: 1px 1px 2px rgb(12, 12, 12);
	
}
.agileits-banner-info h3 span{
	    background: #2529d8;
    padding: 0 15px;
}
.agileits-banner-info {
    text-align: left;
    padding: 18em 0 0em;
}
.agileits-banner-info p {
    color: #e2dfdf;
    font-size: 1em;
    line-height: 2.2em;
    letter-spacing: 2px;
    font-weight: 500;
    width: 49%;
    text-align: left;
}
.agileits_w3layouts_more{
	position:relative;
}
.agileits_w3layouts_more a{
	    font-size: 17px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    position: relative;
}

.agileits-banner-info span {
	background:#ff5a77;
    padding: 0.5em 2em;
    color: #fff;
    font-size: 1.1em;
    padding: 5px 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
/*-- //banner-text --*/
/*-- banner-top --*/
.w3layouts-banner-top{
    background: url(../images/banner.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;
	min-height:700px;
}
.w3layouts-banner-top1{
	background: url(../images/banner1.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;
	min-height:700px;
}
.w3layouts-banner-top2{
	background: url(../images/banner2.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;	
	min-height:700px;
}
.w3layouts-banner-top3{
	background: url(../images/banner3.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;	
	min-height:700px;
}
